<p></p>
<div class="card">
  <div class="card-body">
    <form [formGroup]="environmentForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Environment Name</label>
        <input type="text" class="form-control" 
          formControlName="Name" #Name />
      </div>
      <div *ngIf="environmentForm.controls['Name'].invalid && (environmentForm.controls['Name'].dirty || environmentForm.controls['Name'].touched)" class="alert alert-danger">
        <div *ngIf="environmentForm.controls['Name'].errors.required">
          Environment name is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Environment Description </label>
        <textarea class="form-control" rows = 7 cols = "5" 
          formControlName="Description" #Description ></textarea>
      </div>
      <div *ngIf="environmentForm.controls['Description'].invalid && (environmentForm.controls['Description'].dirty || environmentForm.controls['Description'].touched)" class="alert alert-danger">
        <div *ngIf="environmentForm.controls['Description'].errors.required">
          Environment description is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Environment Type</label>
        <input type="text" class="form-control"
          formControlName="Type" #Type />
      </div>
      <div *ngIf="environmentForm.controls['Type'].invalid && (environmentForm.controls['Type'].dirty || environmentForm.controls['Type'].touched)" class="alert alert-danger">
        <div *ngIf="environmentForm.controls['Type'].errors.required">
          Environment type is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Environment Status</label>
        <input type="text" class="form-control"
          formControlName="Status" #Status />
      </div>
      <div *ngIf="environmentForm.controls['Status'].invalid && (environmentForm.controls['Status'].dirty || environmentForm.controls['Status'].touched)" class="alert alert-danger">
        <div *ngIf="environmentForm.controls['Status'].errors.required">
          Environment status is required.
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary"
          (click) = "createEnvironment(Name.value, Description.value, Type.value, Status.value)"
          [disabled]="environmentForm.pristine || environmentForm.invalid">Create Environment</button>
      </div>
    </form>
  </div>
</div>